<div>
    <div class="row">
        <div class="col-sm-7">
            <h2 translate="myhealthApp.weight.home.title">Weights</h2>
        </div>
        <div class="col-sm-5 text-right">
            <form name="searchForm" class="form-inline">
                <div class="form-group p-r">
                    <input type="text" class="form-control"
                        ng-model="searchQuery" id="searchQuery"
                        placeholder="{{'entity.action.search' | translate}}">
                </div>
                <button class="btn btn-info btn-sm" ng-click="search()"
                    tooltip="{{'entity.action.search' | translate}}">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <button class="btn btn-primary btn-sm" data-toggle="modal"
                     data-target="#saveWeightModal" ng-click="clear()"
                     tooltip="{{'entity.action.new' | translate}}">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>                             
            </form>
        </div>
    </div>

    <div class="modal fade" id="saveWeightModal" tabindex="-1" role="dialog" aria-labelledby="myWeightLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myWeightLabel" translate="myhealthApp.weight.home.createOrEditLabel">Edit your weight</h4>
                    </div>
                    <div class="modal-body">
           
                        <div class="form-group">
                            <label translate="myhealthApp.weight.timestamp">Timestamp</label>
                            <input type="datetime-local" class="form-control" name="timestamp"
                                   ng-model="weight.timestamp" ng-model-options="{timezone: 'UTC'}" required>

                            <div ng-show="editForm.timestamp.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.timestamp.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.timestamp.$error.datetimelocal" translate="entity.validation.datetimelocal">
                                    This field should be a date and time.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="myhealthApp.weight.weight">Weight</label>
                            <input type="number" class="form-control" name="weight"
                                   ng-model="weight.weight" required>

                            <div ng-show="editForm.weight.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.weight.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.weight.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="myhealthApp.weight.user">user</label>
                            <select class="form-control" name="user" ng-model="weight.user.id" ng-options="user.id as user.login for user in users">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteWeightConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(weight.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="myhealthApp.weight.delete.question" translate-values="{id: '{{weight.id}}'}">Are you sure you want to delete this Weight?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="myhealthApp.weight.timestamp">Timestamp</th>
                    <th translate="myhealthApp.weight.weight">Weight</th>
                    <th translate="myhealthApp.weight.user">user</th>
                    <th translate="myhealthApp.weight.actions" class="col-md-2">Actions</th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="weight in weights | orderBy: '-timestamp'">
                    <td><a ui-sref="weight.detail({id:weight.id})">{{weight.timestamp | date: 'medium': 'UTC'}}</a></td>
                    <td>{{weight.weight}}</td>
                    <td>{{weight.user.login}}</td>
                    <td>
                        <div class="btn-group m-n">
                            <button type="submit" tooltip="{{'entity.action.view' | translate}}"
                                    ui-sref="weightDetail({id:weight.id})" class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit" tooltip="{{'entity.action.edit' | translate}}"
                                    ng-click="showUpdate(weight.id)"
                                     class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit" tooltip="{{'entity.action.delete' | translate}}"
                                    ng-click="delete(weight.id)" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
