<div>

    <h2 translate="myhealthApp.preferences.home.title">Preferencess</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#savePreferencesModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="myhealthApp.preferences.home.createLabel">Create a new Preferences</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Preferences</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="savePreferencesModal" tabindex="-1" role="dialog" aria-labelledby="myPreferencesLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPreferencesLabel" translate="myhealthApp.preferences.home.createOrEditLabel">Create or edit a Preferences</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="preferences.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="myhealthApp.preferences.weekly_goal">Weekly_goal</label>
                            <input type="number" class="form-control" name="weekly_goal"
                                   ng-model="preferences.weekly_goal" required min="10" max="21">

                            <div ng-show="editForm.weekly_goal.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.weekly_goal.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.weekly_goal.$error.min" translate="entity.validation.min" translate-value-min="10">
                                    This field should be more than 10.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.weekly_goal.$error.max" translate="entity.validation.max" translate-value-max="21">
                                    This field cannot be more than 21.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.weekly_goal.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="myhealthApp.preferences.weight_units">Weight_units</label>
                            <input type="text" class="form-control" name="weight_units"
                                   ng-model="preferences.weight_units" required>

                            <div ng-show="editForm.weight_units.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.weight_units.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePreferencesConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(preferences.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="myhealthApp.preferences.delete.question" translate-values="{id: '{{preferences.id}}'}">Are you sure you want to delete this Preferences?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="myhealthApp.preferences.weekly_goal">Weekly_goal</th>
                    <th translate="myhealthApp.preferences.weight_units">Weight_units</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="preferences in preferencess">
                    <td><a ui-sref="preferencesDetail({id:preferences.id})">{{preferences.id}}</a></td>
                    <td>{{preferences.weekly_goal}}</td>
                    <td>{{preferences.weight_units}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="preferencesDetail({id:preferences.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(preferences.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(preferences.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
